body {
  margin: 0;
  background-color: transparent!;
}

#wrap {
  height: 96vh;
  width: 30vw;
  margin-left: 0px;
}

.material-icons {
  font-style: normal;
}
.card {
  background-color: transparent !important;
  opacity: 20;
}
