/* .App {
  font-family: sans-serif;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.card .circle-container {
  position: relative;
  background-color: white;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 50%;
  margin: auto;
  color: #fff;
}

.team .card {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  min-width: 20%;
  height: 400px !important;
  height: auto;
  background-color: #fff;
  display: inline-block;
  margin: 40px 6.5%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.team {
  width: 90%;
  margin: auto;
  padding: 5% 5%;
  overflow: hidden;
}
.team h1 {
  text-align: center;
  color: #1eadff;
}
.team h1 hr {
  width: 15%;
  border-top: 2px solid #000;
  background-color: transperant;
  border-bottom: none;
  margin-bottom: 50px;
}

.circle-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 60px;
}

.team .card h2 {
  text-align: center;
  margin: 40px 0 0 0;
}
ul {
  text-align: center;
  margin-top: 30px;
  margin-right: 40px;
}
.github {
  color: #04ff41;
}

/* media */
@media (max-width: 1200px) {
  .mission .right p {
    font-size: 0.8rem;
    margin: 20px auto;
  }
  .about .left p {
    font-size: 0.8rem;
    margin: 20px auto;
  }
}

@media (max-width: 992px) {
  .about .left {
    width: 100%;
  }
  .about .right {
    width: 100%;
  }
  .mission .left {
    width: 100%;
  }
  .mission .right {
    width: 100%;
  }
  .team .card {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .team .card {
    width: 100%;
  }
  nav {
    height: 80px;
  }
}
