.App {
  text-align: left;
  height: 100vh;
  position: relative;
}

.App-container-weather {
  position: absolute;
  right: 0px;
  padding: 1px;
}
.weather {
  justify-content: space-around;
  width: 120px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
