.App {
  text-align: left;
  height: 100vh;
  position: relative;

}

.App-container-weather {
  position: absolute;

  right: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
